* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
.form-wrap {
	max-width: 300px;
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
}
h1{
	display: block;
	text-align: center;
	font-size: 20px;
	margin: 0;
	text-transform: capitalize;
}
p {
	display: block;
	text-align: center;
	font-size: 12px;
	margin: 0;
}
label {
	display: block;
	width: 100%;
	margin: 0 0 6px 0;
	font-size: 14px;
}
input {
	display: block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 14px;
}
#profile-pic {
	border: unset;
	padding: 0;
	border-radius: 0;
}
.form-group {
	margin: 0 0 20px 0;
    position: relative;
}
.error {
	color: red;
	display: none;
	font-size: 10px;
    position: absolute;
    bottom: -15px;
    left: 8px;
}
.signin_form{
	display: none;
}
.submitbtn {
	background-color: #000;
	color: #fff;
	font-size: 14px;
	padding: 10px;
	cursor: pointer;
}
#password-error {
	position: unset;
}